@font-face
  font-family "Exo2"
  font-style normal
  font-weight 400
  font-display swap
  src:
    local("Exo2"),
    local("Exo2Regular"),
    local("exo2-regular"),
    url("../fonts/Exo2Regular.woff") format("woff")

@font-face
  font-family "Exo2"
  font-style normal
  font-weight 700
  font-display swap
  src:
    local("Exo2Bold"),
    local("exo2-bold"),
    url("../fonts/Exo2Bold.woff") format("woff")
