@charset "UTF-8";

@font-face {
  font-family: Exo2Bold;
  src: url("../fonts/Exo2Bold.eot"), url("../fonts/Exo2Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2Bold.woff") format("woff"), url("../fonts/Exo2Bold.ttf") format("truetype");
}

@font-face {
  font-family: Exo2Regular;
  src: url("../fonts/Exo2Regular.eot"), url("../fonts/Exo2Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2Regular.woff") format("woff"), url("../fonts/Exo2Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
  font-family: Exo2Regular;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-weight: unset;
}

a {
  color: unset;
}

.app {
  margin: 4.41176vw 11.76471vw;
  width: 76.47059vw;
}

.image {
  width: 100%;
}

.title {
  font-size: 1.75em;
  padding: 0 16.17647vw;
  line-height: 1.5em;
  text-align: center;
}

.title__bold {
  font-weight: bold;
}

.nav__item {
  margin: 0 1em;
}

.nav__item:hover {
  text-decoration: unset;
}

.nav__item.--active {
  font-family: Exo2Bold;
  text-decoration: unset;
}

.carousel {
  margin-top: 2.94118vw;
}

.carousel__header {
  display: flex;
  justify-content: center;
}

.carousel__main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.94118vw;
}

.carousel__arrow {
  position: relative;
  font-size: 5.88235vw;
  cursor: pointer;
  user-select: none;
}

.carousel__arrow.--left::after {
  position: absolute;
  content: "〈";
  top: 0;
  left: 2px;
  color: white;
}

.carousel__arrow.--right::after {
  position: absolute;
  content: "〉";
  top: 0;
  left: -2px;
  color: white;
}

.carousel__container {
  display: flex;
  width: 58.82353vw;
  overflow-x: hidden;
}

.carousel__element {
  min-width: 100%;
}

@media (max-width: 768px) {
  .app {
    margin: 2.94118vw;
    width: 94.11765vw;
  }

  .title {
    padding: 0;
  }
}