include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/libra/libra
include ../blocks/btn/btn
include ../blocks/menu/menu
include ../blocks/specifications/specifications
include ../blocks/modal/modal
