extends ../templates/template
block head
  title MD_test
  link(rel="preload", href="fonts/Exo2Regular.woff", as="font")
  link(rel="preload", href="fonts/Exo2Bold.woff", as="font")

block content
  include ../blocks/header/header

  main

  include ../blocks/footer/footer
