.specifications
  &__wrapper
    position relative

  &__img
    display block

  &__list
    position absolute
    top 0
    left 0

    width 100%
    height 100%
    margin 0
    padding 0

    list-style none

  &__item
    position absolute
    top 0
    left 0

    outline none

    &--pos-mod1
      top 190px
      left 660px

    &--pos-mod2
      top 185px
      left 115px

    &--pos-mod3
      top 240px
      left 459px

    &--pos-mod4
      top 324px
      left 434px

    &--pos-mod5
      top 357px
      left 715px

    &--pos-mod6
      top 352px
      left 875px

    &--pos-mod7
      top 432px
      left 1050px

  &__mark
    position absolute
    top -8px
    left -18px
    z-index 1

    width 43px
    height 43px

    background-color #c03f36
    border 1px solid #c03f36
    border-radius 50%
    box-shadow inset 0 0 0 4px #ffffff

  &__text
    width 1px
    height 1px
    margin -1px

    font-family "Exo2", "Arial", sans-serif
    font-weight 400
    font-size 18px
    line-height 24px
    color #1b5287

    background-color #ffffff
    border 0
    overflow hidden

  &__item:hover &__text,
  &__item:focus &__text
    width auto
    height auto
    margin 0
    padding 18px 16px

    border 2px solid #1b5287
    transition 0.1s linear

  &__item:hover &__mark,
  &__item:focus &__mark
    background-color #1b5287
    border-color #1b5287
