.specifications__wrapper
  picture
    source(type="image/webp", srcset="img/truck_scales.webp")
    img.specifications__img(src="img/truck_scales.png", alt="Схема")
  ul.specifications__list
    li.specifications__item.specifications__item--pos-mod1(tabindex="0")
      .specifications__mark.specifications__mark--icon-mod1
      p.specifications__text Максимальная нагрузка
        b  - от 15 до 40 т
    li.specifications__item.specifications__item--pos-mod2(tabindex="0")
      .specifications__mark.specifications__mark--icon-mod2
      p.specifications__text Marcus Tullius Cicero
    li.specifications__item.specifications__item--pos-mod3(tabindex="0")
      .specifications__mark.specifications__mark--icon-mod3
      p.specifications__text Marcus Tullius Cicero
    li.specifications__item.specifications__item--pos-mod4(tabindex="0")
      .specifications__mark.specifications__mark--icon-mod4
      p.specifications__text Marcus Tullius Cicero
    li.specifications__item.specifications__item--pos-mod5(tabindex="0")
      .specifications__mark.specifications__mark--icon-mod5
      p.specifications__text Marcus Tullius Cicero
    li.specifications__item.specifications__item--pos-mod6(tabindex="0")
      .specifications__mark.specifications__mark--icon-mod6
      p.specifications__text Marcus Tullius Cicero
    li.specifications__item.specifications__item--pos-mod7(tabindex="0")
      .specifications__mark.specifications__mark--icon-mod7
      p.specifications__text Marcus Tullius Cicero
