section.libra.container
  h2.visually-hidden Автомобильные весы НПП “МЕТРА”
  p.libra__tagline
    b Цифровые
    |  автомобильные весы НПП “МЕТРА” на 100% защищают вашу прибыль от потерь
  ul.libra__menu.menu
  ul.libra__slider.slider
  ul.libra__advantages
    li.libra__advantages-item
      p Монтаж осуществляется в течение 1 дня
    li.libra__advantages-item
      p Работа при темпаратурах от -30 до +40 градусов по цельсию
    li.libra__advantages-item
      p Каждый датчик имеет специальную плату, обеспечивающую грозозащиту
  button.libra__btn.btn(type="button") Получить расчет
