li.menu__item
  a.menu__link.menu__link--active.js-menu-link(href="#") Технические характеристики
li.menu__item
  a.menu__link.js-menu-link(href="#") Весь модельный ряд
li.menu__item
  a.menu__link.js-menu-link(href="#") Комплектность поставки
li.menu__item
  a.menu__link.js-menu-link(href="#") Сертификация
