mixin menu()
  ul.menu&attributes(attributes)
    li.menu__item
      a.menu__link.menu__link--active(href="#") Технические характеристики
    li.menu__item
      a.menu__link(href="#") Весь модельный ряд
    li.menu__item
      a.menu__link(href="#") Комплектность поставки
    li.menu__item
      a.menu__link(href="#") Сертификация
