li.menu__item
  a.menu__link.menu__link--active(tabindex="0") Технические характеристики
li.menu__item
  a.menu__link(href="#") Весь модельный ряд
li.menu__item
  a.menu__link(href="#") Комплектность поставки
li.menu__item
  a.menu__link(href="#") Сертификация
